.af{
    background:linear-gradient(to bottom right, rgb(201, 178, 178), rgb(25, 28, 41));
    background-repeat: no-repeat;
    position: relative;
     
}
#ToDo1{
font-size: 20px;
}
#is1{
    border-color: red;
}
button:not([class=ab]){
    border-color: greenyellow;
}